# Importing libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [6]:
df = pd.read_csv('book.csv',encoding='latin-1')
df

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9996,162121,American Fried: Adventures of a Happy Eater.,7
9996,9997,162121,Cannibal In Manhattan,9
9997,9998,162121,How to Flirt: A Practical Guide,7
9998,9999,162121,Twilight,8
9999,10000,162129,Kids Say the Darndest Things,6

# Convert the dataset into a matrix

In [8]:
vectorizer = CountVectorizer()
book_matrix = vectorizer.fit_transform(df['Book.Title'])
print(book_matrix)

  (0, 2306)	1
  (0, 7094)	1
  (1, 2296)	1
  (1, 1858)	1
  (2, 2982)	1
  (2, 5376)	1
  (2, 7300)	1
  (3, 4215)	1
  (3, 10351)	4
  (3, 9933)	1
  (3, 7416)	2
  (3, 4701)	1
  (3, 5427)	1
  (3, 7626)	1
  (3, 114)	1
  (3, 795)	1
  (3, 9181)	1
  (3, 4255)	1
  (3, 11100)	1
  (3, 10349)	1
  (3, 2040)	1
  (3, 5581)	1
  (4, 10351)	1
  (4, 7416)	1
  (4, 7048)	1
  :	:
  (9994, 6220)	1
  (9994, 11528)	1
  (9994, 10690)	1
  (9994, 11508)	1
  (9994, 9876)	1
  (9995, 7416)	1
  (9995, 753)	1
  (9995, 562)	1
  (9995, 4882)	1
  (9995, 4360)	1
  (9995, 3498)	1
  (9996, 5376)	1
  (9996, 6471)	1
  (9996, 1909)	1
  (9997, 10486)	1
  (9997, 5225)	1
  (9997, 4780)	1
  (9997, 8141)	1
  (9997, 4203)	1
  (9998, 10774)	1
  (9999, 10351)	1
  (9999, 5843)	1
  (9999, 9065)	1
  (9999, 10377)	1
  (9999, 2910)	1

In [9]:
# Compute the cosine similarity matrix
cosine_sim = cosine_similarity(book_matrix, book_matrix)

In [12]:
# Function to get book recommendations based on cosine similarity
def get_recommendations(book_title, cosine_sim_matrix, df):
    # Check if the book title exists in the dataframe
    if book_title in df['Book.Title'].values:
        book_index = df[df['Book.Title'] == book_title].index[0]
        sim_scores = list(enumerate(cosine_sim[book_index]))
        sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
        sim_scores = sim_scores[1:]  # Exclude the book itself (index 0)

        book_indices = [x[0] for x in sim_scores]
        # Return the top 10 most similar books
        return df['Book.Title'].iloc[book_indices]
    else:
        return "The book.title you entered does not exist in the database. Please try again with a different title."

book_title = input("Enter a book.title: ")
# Example: Get recommendations for 'Cannibal In Manhattan'
recommendations = get_recommendations(book_title, cosine_sim, df)

print(f"Recommendations for {book_title}:")
print(recommendations)

Enter a book.title: Cannibal In Manhattan
Recommendations for Cannibal In Manhattan:
665                                  Kissing in Manhattan
3550                                             Going in
4098                                         In Rajasthan
4186                                     Manhattan Memoir
5258                                       In Translation
                              ...
9994    I Should Have Stayed Home: The Worst Trips of ...
9995         American Fried: Adventures of a Happy Eater.
9997                      How to Flirt: A Practical Guide
9998                                             Twilight
9999                         Kids Say the Darndest Things
Name: Book.Title, Length: 9999, dtype: object